body{
  color: white;
  font-family: Arial;
  margin: 0;
  margin-top: 40px;
  background-image: url(img/background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.container{
  margin-left: 10%;
  width: 80%;
}
#main__navigation{
  background-color: blue;
}
#main__navigation ul:first-child{
  font-size: 36px;
  font-weight: bold;
  list-style: none;
  padding: 0;

}
#main__navigation ul:last-child{
  list-style: none;
  padding: 0;
  float: right;
  margin-right: -10px; /*intreg randul ul2 in dreapta cu 10px*/
}

#main__navigation ul a{
  text-decoration: none;
  color: white;
}
#main__navigation ul:last-child a:hover{
  color: #7070db;
  transition: 0.5s;
}
#main__navigation li{
  float: left;
  margin: 10px;
  margin-left: 0;
}
main .index__content__info{
  width: 48%;
  float: left;
}
main .index__content__info__title{
  font-size: 50px;
}
main .index__content__info__p{
  margin-top: -20px;
}
main .index__content__info__button{
  background-color: #c73232;
  width: 170px;
  height: 55px;
  margin-top: 40px;
  border-radius: 4px;
  line-height: 55px;
  text-align: center;
}
main .index__content__info__button a{
  text-decoration: none;
  color: white;
  font-size: 16px;

}
main .index__content__info__button:hover{
  background-color: #2e2e1f;
  transition: 0.5s;
  cursor: pointer;
}
main .index__content__form{
  width: 30%;
  float:right;
  background-color: #252a2d;
  padding: 20px;
  margin-top: 5px;
}
.index__content__form__title{
  margin-top: -5px;
  font-size: 16px;
  font-weight: bold;
}
.index__content__form__p{
  font-size: 14px;
  color: #9d9d9d;
}
section form hr{
  color: #9d9d9d;
}
section form span{
  font-size: 20px;
  color: #9d9d9d;
}
section form input{
  border: none;
  background-color: transparent;
  width: 280px;
  padding-top: 20px;
}
.index__content__form__note{
  margin-top: 30px;
  font-size: 12px;
  color: #9d9d9d;
}
.index__content__form__button{
  height: 60px;
  background-color: #3c83cb;
  margin: -20px;
  margin-top: 40px;
  line-height: 60px;
  text-align: center;
}
.index__content__form__button a{
  text-decoration: none;
  color: white;
}
.index__content__form__button:hover{
  background-color: #c73232;
  transition: 0.5s;
  color: #9d9d9d;
  cursor: pointer;
}
